/* Nimbus Sans Novus - Primary Font */
@font-face { font-family: 'Nimbus-Sans'; src: url("../webfonts/208C08_7_0.ttf") format("truetype"); font-weight: 800; font-style: normal; }
@font-face { font-family: 'Nimbus-Sans'; src: url("../webfonts/208C08_1_0.ttf") format("truetype"); font-weight: 600; font-style: normal; }
@font-face { font-family: 'Nimbus-Sans'; src: url("../webfonts/28CD0C_0_0.ttf") format("truetype"); font-weight: 500; font-style: normal; }
@font-face { font-family: 'Nimbus-Sans'; src: url("../webfonts/25E581_0_0.ttf") format("truetype"); font-weight: 400; font-style: normal; }
@font-face { font-family: 'Nimbus-Sans'; src: url("../webfonts/1CF5C8_0_0.ttf") format("truetype"); font-weight: 200; font-style: normal; }
@font-face { font-family: 'Playfair Display'; src: url("../webfonts/PlayfairDisplay-Regular.ttf") format("truetype"); font-weight: 400; font-style: normal; }d
@font-face { font-family: 'Playfair Display'; src: url("../webfonts/PlayfairDisplay-Bold.ttf") format("truetype"); font-weight: 600; font-style: normal; }
